body{
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

.hidden{
  display: none !important;
}

.noselect{
  user-select: none;
}

#notificationWrapper{
  position: fixed;
  width: 100%;
  z-index: 10;
  text-align: center;
}
#notificationText{
  display: table;
  margin: 0 auto;
  color: white;
  padding: 2px 4px 2px 4px;
  background-color: rgba(0, 0, 0, 0.6);
}

.screen{
  position: fixed;
  width: 100%;
  height: 100%;
}



/* TODO: probably needs moving to another css file */
#gameCanvas{
  width: 100%;
  height: 100%;
}
